<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='inner.css')}}">
    <title></title>
  </head>
  <body>
    <div class="left">
      <div class="remove">
        <button type="button" name="button" class="btn btn-light">-</button>
      </div>
      <div class="title">
        <h1>TOPICS</h1>
      </div>
      <div class="add">
        <button type="button" name="button" class="btn btn-light" onclick="alertUser()">+</button>
      </div>
      <br><br>
      <table class="table-warning table-sm table-striped">
        <tbody>
            {% for topic in topics %}
              <tr>
                <td><input type="checkbox" name="" value=""></td>
                <td>{{topic.title}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <div class="settings">
        <button type="button" name="button" class="btn btn-light"> * </button>
      </div>
      <div class="play">
        <button type="button" name="button" class="btn btn-light"> P </button>
      </div>

    </div>
    <div class="right">
      {% block contents %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
