{% extends "outer_layout.html" %}

{% block credentials %}
<br>
{{ form.username(placeholder="Username", class="form-control form-control-sm") }} <br>
{{ form.password(placeholder="Password", class="form-control form-control-sm") }} <br>
{{ form.confirm_password(placeholder="Confirm Password", class="form-control form-control-sm")}} <br>
{{ form.submit(class="btn btn-light") }} <br><br>

<small class="text-muted"> Already a Member? <a class="" href="login">Sign In!</a></small>

{% endblock credentials%}
